- @title = "Community"
.container
  .row
    .col-md-12
      %h3 Community
      %h4 Stackoverflow
      Feel free to post your questions on #{link_to 'stackoverflow.com', 'http://stackoverflow.com/questions/tagged/netzke'} (make sure to use the "netzke" tag).

      %h4 Discussion groups
      %p
        For questions and discussions, join the #{link_to 'Netzke Google Groups', 'http://groups.google.com/group/netzke/'}. Before you can post there, you'll need to send the request to join the group (please, mention
        %em Netzke
        in the subject), which is normally processed within a few hours
        %em (this is the unfortunate anti-spam measure).

      %p There's also a #{link_to 'Russian speaking Group', 'http://groups.google.com/group/netzke-russian/'} for those who feel significantly more comfortable communicating in Russian.

      %h4 Twitter
      Follow the lightning news and tweet your quick questions #{link_to '@netzke.', 'http://twitter.com/netzke'}
