- @title = "Demo"
.container
  .row
    %h3 Demo apps
    %h4 Official demo
    #{link_to 'demo.netzke.org', 'http://demo.netzke.org/'} - browse through several demo components and check out their source code.

    %h4 Yanit
    #{link_to 'Yanit', 'http://yanit.netzke.org/'} - Yet Another (Netzke) Issue Tracker, originally started as a demo app for RubyShift 2011.
